rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /posters/{productionId}.jpg {
      // Allow public read for authenticated app users to view posters
      allow read: if request.auth != null;
      // Allow upload if user is authenticated and image is <= 5MB image
      allow write: if request.auth != null
                   && request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}
